.list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-content {
    display: flex;
    flex-wrap: wrap;
  }
  .search-box {
      width: 100%;
      align-items: center;
  }
  